@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Secular+One&display=swap');

/*
font-family: 'Fira Sans Condensed', sans-serif; 300, 400, 900 для заголовків
font-family: 'PT Sans', sans-serif; 400 для звичайного тексту
font-family: 'Secular One', sans-serif; 400 для логотипу
*/

body {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.container{
    max-width: 1920px;
    margin: 0 auto;
}

/** HEADER **/

.header {
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: 1fr 1fr 100px;
    grid-template-areas: "logo nav search";
    /*grid-template: "logo nav search" max-content / 1fr 1fr 100px;*/
    align-items: center;
    justify-items: start;
    padding: 20px 0;

    text-transform: uppercase;
    overflow: hidden;
}

.header__logo-wrapper {
    grid-area: logo;
    justify-self: end;
}

.logo {
    font-family: 'Secular One', sans-serif;
    font-weight: 400;
    color: #FF4747;
    font-size: 24px;
    width: 150px;
    line-height: 1;
}

.header__nav {
    grid-area: nav;
}

.header__nav ul {
    display: flex;
    gap: 10px;
}

.header__nav a {
    padding: 15px;
    transition: color 0.5s;
    position: relative;
    display: inline-block;
}

.header__nav a:hover, .logo:hover {
    color: #01BCB5;
}

.header__nav a:active {
    color: #01928D;
}

.header__nav a::after {
    content: "";
    display: block;
    width: 80%;
    height: 100%;

    background-color: #01BCB5;

    position: absolute;
    left: 15px;
    bottom: -200%;

    transition: bottom 0.5s, background-color 0.2s;
}

.header__nav a:hover::after {
    bottom: -80%;
}

.header__nav a:active::after {
    background-color: #01928D;
}

.search {
    grid-area: search;
}

.search__icon {
    transition: fill 0.2s;
}

.search__icon:hover {
    fill: #01BCB5;
}

.search__icon:active {
    fill: #01928D;
}

/** MAIN **/

.main {
    display: grid;
    grid-template-rows: 3fr 1fr 3fr;
    grid-template-columns: 2fr 1fr 1.5fr 1.5fr;
    grid-template-areas: "slider-arrows healthy thirsty thirsty"
                         "slider-arrows healthy slider-dots orange"
                          "freshy healthy slider-dots orange";

    /*grid-template: "slider-arrows healthy thirsty thirsty" 3fr*/
    /*               "slider-arrows healthy slider-dots orange" 1fr*/
    /*               "freshy healthy slider-dots orange" 3fr / 2fr 1fr 1.5fr 1.5fr;*/
}

/** SLIDER ARROWS **/

.slider-arrows {
    position: relative;
    grid-area: slider-arrows;
}

.slider-arrows__items-wrapper {
}

.slider-arrows__item {
}

.slider-arrows__nav {
    position: absolute;
    left: 0;
    top: 50%;

    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.slider-arrows__arrow {
    color: #fff;
    font-size: 30px;
    border: 2px solid #ffffff;
    border-radius: 50%;

    width: 50px;
    height: 50px;
}

.slider-arrows__arrow--left {
}

.btn {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    transition: 0.2s;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    opacity: 0.6;
}

.slider-arrows__btn {
}

.slider-arrows__arrow--right {
}
